.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--gray-800);
  padding-bottom: 12px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--gold);
  letter-spacing: -0.025em;
}

.subtitle {
  font-size: 0.875rem;
  color: var(--gray-400);
}

.action {
  display: flex;
  gap: 12px;
}
